*{
    margin: 0;
    padding: 0;
}

body{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #e0f4ff;
}
span{
    font-weight: bold;
}

.barra-pesquisa{
    grid-area: 1 / 3 / 1 / 7;
    border-radius: 24px;
    background: #64A3F5;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: flex-end;
    padding: 8px 37px 8px 300px;
    align-items: center;
    margin-bottom: 20px;

}

.barra-principal{
    grid-area: 2 / 3 / 6 / 13;
    display: flex;
    border-radius: 24px;
    background: #1475F5;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
}

.menu-lateral{
    grid-area: 1 / 1 / 12 / 3;
    border-radius: 24px;
    background: #64A3F5;
    box-shadow: 12px 12px 48px 24px rgba(0, 0, 0, 0.12);
    margin-right: 35px;

}
.menu_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin: 25px 25px;
}
 
.menu_text2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-top: 200px;
}

.img_dash{
    width: 20px;
    height: 20px;
}
   
.txt_dash{
    margin-left: 10px;
    font-weight: bold;
}
   
.txt_dash2{
    margin-left: 10px;
}

.barra-financas{
    grid-area: 6 / 3 / 9 / 10;
    border-radius: 24px;

    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    gap: 50px;
}

.financa1{
    position: relative;  
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    flex-direction: column;
}
.financa2{
    position: relative;
    flex-direction: column;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}

.financa3{
    position: relative;
    flex-direction: column;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}
.barra-cursos{
    grid-area: 9 / 3 / 12 / 10;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    margin-top: 30px;
}

.barra-instrutores{
    display: flex;
    grid-area: 6 / 10 / 8 / 13;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 24px;
    max-width: 400px;
    max-height: 72px;
    justify-content: space-between;
   
}
 

.muito-texto{
    grid-area: 8 / 10 / 12 / 13;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.perfil{
    grid-area: 1 / 10 / 2 / 11;
    background-color: black;
    margin-bottom: 20px;
}

.instrutor1, .instrutor2, .instrutor3 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 90px;
}
.instrutor1{
    border-radius: 93px;
    width: 70px;
 
}
 
.instrutor2{
    border-radius: 93px;
    width: 70px;
}
 
.instrutor3{
    border-radius: 93px;
    width: 70px;
}

.mochila{
    width: 119.2px;
    height: 119.2px;
    position: relative;
    top: 10px;
    left: 730px;
    transform: rotate(8.841deg);
    flex-shrink: 0;
    background: url(Backpack.png) #1475F5 50% / cover no-repeat;
}

.chapeu{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 40px;
    background: #142EF5;
    padding: 15px;
    border-radius: 15px; 
}
.estudante{
    width: 160px;
    height: 175px;
    position: relative;
    top: 33.8px;
    left: 500px;
    flex-shrink: 0;
    background: url(College\ Student.png) no-repeat;
    
}

.chapeu-estudante{
    width: 119px;
    height: 119px;
    position: relative;
    top: 10px;
    left: 260px;
    transform: rotate(-28.13deg);
    flex-shrink: 0;
    background: url(Scholarcap\ scroll.png)  50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.texto{
    position: relative;
    top: 30px;
    left: 40px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.texto2{
    position: relative;
    top: 120px;
    left: -80px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
 
.texto3{
    position: relative;
    top: 150px;
    right: 260px;
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto4{
    position: relative;
    top: -40px;
    left: -65px;
}

.imagem-principal{
    width: 400px;
    position: relative;
    top: 20px;
}

.usuario{
    grid-area: 1 / 10 / 3 / 12;
    display: inline-flex    
}
 
#john{
    position: absolute;
    top: 10px;
    right: 320px;
    width: 45px;
    height: 45px;
}
 
#doe{
    margin-left: 12px;
    font-weight: 600;
    line-height: 1px;
}
 
#year{
    font-weight: 400;
    line-height: 30px;
    justify-content: center;
}

#imagem-financa{
    position: relative;
    top: -10px;
    width: 70px;
}

#oi{
    grid-area: 6 / 10 / 7 / 12;
    position: relative;
    left: 30px;
    top: 10px;
}
#muito_texto_titulo1{
    position: relative;
    grid-area: 8/10/10/12;
    left: 30px;
    top: -7px;
}
#muito_texto_titulo2{
    position: relative;
    grid-area: 8/12/10/12;
    top: -7px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
}

.barra{
    position: relative;
    width: 90px;
    left: 200px;
    top: 20px;
}
 
.texto-curso1{
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    bottom: 60px;
    left: 20px;
}
 
.texto-curso3{
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    bottom: 58px;
    left: 20px;
}
 
.texto-curso2{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    position: relative;
    bottom: 10px;
    left: 20px;
    text-align: center;
    max-width: 100px;
    border-radius: 45px;
}
 
.texto-curso4{
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    bottom: 60px;
    left: 20px;
}
 
.texto-curso5{
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    bottom: 58px;
    left: 20px;
}
 
.barra-cursos{
    grid-area: 9 / 3 / 12 / 6;
    border-radius: 24px;
    background: #39a7ff;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    margin-top: 30px;
}
 
.barra-cursos2{
    grid-area: 9 / 7 / 12 / 10;
    border-radius: 24px;
    background: #bdd9fd;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    margin-top: 30px;
}

#cursosenrolados{
    grid-area: 9/3/10/5;
}
#vejatodos{
    grid-area: 9/9/10/10;
    display: flex;
    justify-content: flex-end;
}